apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
spec:
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: erp-service
spec:
  type: NodePort