apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: ecommerce
spec:
  type: LoadBalancer
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: order-service
---
apiVersion: v1
kind: Service
metadata:
  name: vault
  namespace: ecommerce
spec:
  type: LoadBalancer
  ports:
  - port: 8200
    targetPort: 8200
  selector:
    app: vault
---
apiVersion: v1
kind: Service
metadata:
  name: zipkin
  namespace: ecommerce
spec:
  type: LoadBalancer
  ports:
  - port: 9411
    targetPort: 9411
  selector:
    app: zipkin