apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-payment
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-payment
  template:
    metadata:
      labels:
        app: postgres-payment
    spec:
      containers:
      - name: postgres
        image: postgres:17
        env:
        - name: POSTGRES_DB
          value: "paymentdb"
        - name: POSTGRES_USER
          value: "payment"
        - name: POSTGRES_PASSWORD
          value: "password"
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-storage
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-payment
  namespace: ecommerce
spec:
  selector:
    app: postgres-payment
  ports:
  - port: 5432
    targetPort: 5432